<div class="main">

   <section class="title-card">
      <img src="/assets/rigel-headshot.png">
      <p>
        Hello! My name is <span class="red">Rigel St. Pierre</span>. I’m a <span class="green">Ruby on Rails</span> <br />
        &amp; <span class="green">Front End</span> developer living in San Diego, CA. <a href="mailto:hithere@rigelwritescode.com">Talk to me</a>.
      </p>
    </section>

  <section class="work">
    <ul>
     <li>
        <a href="#">
          <p>1</p>
          <h2>SportsVault: Fantasy Sports Payment</h2>
          <h3>Ruby on Rails, Javascript, HTML5/CSS3</h3>
        </a>
      </li>
      <li>
        <a href="#">
          <p>2</p>
          <h2>Nixon: Holiday Gift Guide</h2>
          <h3>Responsive, Javascript, HTML5/CSS3</h3>
        </a>
      </li>
      <li>
        <a href="#">
          <p>3</p>
          <h2>Nixon: The Tide</h2>
          <h3>Responsive, Javascript, HTML5/CSS3</h3>
        </a>
      </li>
    </ul>
  </section>

  <section class="posts">
    <% @posts.each do |post| %>
      <article>
        <h3><%= link_to post.title, post %></h3>
        <p><%= truncate(post.text, :length => 250) %></p>
        <div class="date"><p><%= post.created_at.strftime("%e %b") %></p></div>
      </article>
    <% end %>
  </section>
</div>
